

.btn-employee-form {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 18px;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; 
  background-color: #333;
  color: #000000;
}
.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffcc00;
}
